<%= form_for(@apartment_assignment) do |f| %>
  <% if @apartment_assignment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment_assignment.errors.count, "error") %> prohibited this apartment_assignment from being saved:</h2>

      <ul>
      <% @apartment_assignment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br> <%= f.select :user_id,
        options_for_select(User.all.collect {|u| ["#{u.lastname}, #{u.firstname}", u.id]}, selected: (@apartment_assignment.user ? @apartment_assignment.user.id : User.first.id)), {} %>
  </div>
  <div class="field">
    <%= f.label :apartment_id %><br> <%= f.select :apartment_id,
        options_for_select(Apartment.all.collect {|a| ["#{a.apartment_number}", a.id]}, selected: (@apartment_assignment.apartment ? @apartment_assignment.apartment.id : Apartment.first.id)), {} %>
  </div>


  <div class="field">
    <%= f.label :bedroom %><br>
    <%= f.text_field :bedroom %>
  </div>
  <div class="field">
    <%= f.label :assignment_date %><br>
    <%= f.date_select :assignment_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
