<p id="notice"><%= notice %></p>

<h1>Listing Apartment Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Apartment</th>
      <th>User</th>
      <th>Bedroom</th>
      <th>Assignment date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartment_assignments.each do |apartment_assignment| %>
      <tr>
        <td><%= apartment_assignment.apartment.apartment_number %></td>
        <td><%= apartment_assignment.user.firstname + ' ' + apartment_assignment.user.lastname %></td>
        <td><%= apartment_assignment.bedroom %></td>
        <td><%= apartment_assignment.assignment_date %></td>
        <td><%= link_to 'Show', apartment_assignment.apartment, :class => "uk-button uk-button-default uk-button-small" %></td>
        <!--<td><%= link_to 'Edit', edit_apartment_assignment_path(apartment_assignment) %></td>-->
        <td><%= link_to 'Unbook', apartment_assignment, method: :delete, data: { confirm: 'You are about to cancel your reservation of apartment ' + apartment_assignment.apartment.apartment_number + '. Are you sure you would like to continue? This action cannot be undone.' }, :class => "uk-button uk-button-danger uk-button-small" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--<%= link_to 'New Apartment assignment', new_apartment_assignment_path %>-->

<!--<%= (current_user.firstname) %>-->
