<p id="notice"><%= notice %></p>


<p>
  <strong>Apartment:</strong>
  <%= @apartment_assignment.apartment.apartment_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @apartment_assignment.user.firstname + ' ' + @apartment_assignment.user.lastname %>
</p>

<p>
  <strong>Bedroom:</strong>
  <%= @apartment_assignment.bedroom %>
</p>

<p>
  <strong>Assignment date:</strong>
  <%= @apartment_assignment.assignment_date %>
</p>

<%= link_to 'Edit', edit_apartment_assignment_path(@apartment_assignment) %> |
<%= link_to 'Back', apartment_assignments_path %>
