<!--<nav class="uk-navbar">
    <a href="" class="">Housing</a>
    <a class="uk-active" href="">Booking</a>
    <a class="uk-navbar-content uk-navbar-center">Management</a>

</nav>-->

<!-- -->
<nav data-uk-sticky class="uk-navbar">

    <ul class="uk-navbar-nav">
      <li class="uk-navbar-brand" href="">Housing</li>
        <li class="uk-small"><a href="/apartments">Apartments</a></li>
        <!--<li class="uk-small"><a href="/users">Users</a></li>-->
        <li class="uk-small"><a href="/apartment_assignments">My assignments</a></li>
        <li class="uk-small"><a href="/apipie">Documentation</a></li>





<!-- active -->

        <!--
        <li class="uk-hidden-small"><a href="">Item</a></li>
        <li class="uk-parent" data-uk-dropdown="">
            <a href="">Parent</a>

            <div class="uk-dropdown uk-dropdown-navbar" style="">
                <ul class="uk-nav uk-nav-navbar">
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Another item</a></li>
                    <li class="uk-nav-header">Header</li>
                    <li><a href="#">Item</a></li>
                    <li><a href="#">Another item</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#">Separated item</a></li>
                </ul>
            </div>

        </li>
        -->
    </ul>

    <div class="uk-navbar-flip">
      <ul class="uk-navbar-nav">
        <% if user_signed_in? %>
          <!--<strong><%= current_user.email %></strong>-->
          <li>
            <%= link_to edit_user_registration_path, :class => 'uk-navbar-nav-subtitle' do %>
                 <i class="uk-icon-user"></i> Edit profile
                <div><%= current_user.firstname + ' ' + current_user.lastname %></div>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, :method => :delete, :class => 'uk-small' do %>
              <i class="uk-icon-sign-out"></i> Logout
            <% end %>
          </li>
        <% else %>
          <li>
              <%= link_to new_user_registration_path :class => 'uk-small' do %>
                <i class="uk-icon-pencil"></i> Sign Up
              <% end %>
          </li>
          <li>
              <%= link_to new_user_session_path :class => 'uk-small' do %>
                <i class="uk-icon-sign-in"></i> Login
              <% end %>
          </li>
        <% end %>
      </ul>




    </div>
</nav>
<!-- -->
