<article class="uk-article">
    <!--<hr class="uk-article-divider">-->
    <p class="uk-article-lead"><%= 'Nr. ' + apartment.apartment_number + ' (' + apartment.number_of_rooms + '-room apartment)' %></p>


    <table class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <caption>Apartment Information</caption>
        <thead>
            <tr>
                <th>Property</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Room number</td>
                <td><%= apartment.room_number %></td>
            </tr>
            <tr>
                <td>Number of rooms</td>
                <td><%= apartment.number_of_rooms %></td>
            </tr>
            <tr>
                <td>Max number of people</td>
                <td><%= apartment.max_people %></td>
            </tr>
            <tr>
                <td>Is the apartment furnished?</td>
                <td><%= apartment.is_furnished %></td>
            </tr>
        </tbody>
    </table>

    <!--form_for [apartment, current_user]

    look at: button_to api.rubyonrails.org-->

    <!--<%= button_to "Create", new_apartment_assignment_path(apartment,current_user), form: { "data-type" => "json" } %>-->
    <div class="uk-button-group uk-push-4-5 uk-width-1-1">
    <%= button_to 'Book', {:controller => "apartment_assignments", :action => "create", apartment_assignment: {:apartment_id => apartment, :user_id => current_user}}, :method=>:post, :class => "uk-button uk-button-success uk-button-small" %>

    <%= button_to 'Edit', edit_apartment_path(apartment), :class => "uk-button uk-button-default uk-button-small" %>
  </div>
</article>




<!--<table>
  <thead>
    <tr>
      <th>Apartment number</th>
      <th>Room number</th>
      <th>Number of rooms</th>
      <th>Max people</th>
      <th>Is furnished</th>
      <th>Thumbnail</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="uk-table">

      <tr>
        <td><%= apartment.apartment_number %></td>
        <td><%= apartment.room_number %></td>
        <td><%= apartment.number_of_rooms %></td>
        <td><%= apartment.max_people %></td>
        <td><%= apartment.is_furnished %></td>
        <td><%= apartment.thumbnail %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>

  </tbody>
</table>
-->
