<%= form_for(@apartment, remote: true) do |f| %>
  <div class="uk-panel uk-panel-box uk-width-1-3">
  <% if @apartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apartment.errors.count, "error") %> prohibited this apartment from being saved:</h2>

      <ul>
      <% @apartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :apartment_number %><br>
    <%= f.text_field :apartment_number %>
  </div>
  <div class="field">
    <%= f.label :room_number %><br>
    <%= f.text_field :room_number %>
  </div>
  <div class="field">
    <%= f.label :number_of_rooms %><br>
    <%= f.number_field :number_of_rooms %>
  </div>
  <div class="field">
    <%= f.label :max_people %><br>
    <%= f.number_field :max_people %>
  </div>
  <div class="field">
    <%= f.label :is_furnished %><br>
    <%= f.check_box :is_furnished %>
  </div>
   <div class="field">
    <%= f.label :thumbnail %><br>
    <%= f.url_field :thumbnail %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>
